table {
    margin: 20px;
    width: 80%;
    font-size: 1.5em;
}

tr {
    width: 80%;
}

td {
    min-width: 66px;
    padding:5px 10px 5px 10px;
}

th {
    text-align: start;
    padding:5px 10px 5px 10px;
}

.container {
    display: flex;
    justify-content: center;
}